.jetbrains-mono-bold {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
}

h5,h7{
font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
}

header{
    text-align: center;
}

html{
  background-color: black;
}

body{
  color: #fde63c;
}

p.solid {border-style: solid;}

.square{
  height:230px;
  width:815px;
  outline:solid;
  outline-offset:10px;    
}

img {
  max-width: 25%;
  height: auto;
  object-fit: contain;
}